# -----------------------------------------------
# FILE NAME: 		.gitignore
# PROJECT:			mobilitätswende-lu.de
# DEFINITION: 		files ignored by git
# LAST MODIFIED 	2023-12-11
# -----------------------------------------------

_temp/
_UnusedFiles

_pdf/**/*.[Pp][Dd][Ff]
_pics/**/*.[Jj][Pp][Gg]

git_commit*.txt
Ref_CSS/zwischen_speichern.css

# GIT-REMOVE
# Datei auf den ignore-Kategorien, die früher berücksichtigt wurden, wurden aus dem Repository entfernt
# git rm _pdf/**/*.pdf -r --cached (--dry-run)
# git rm _pics/**/*.JPG -r --cached (--dry-run)
# git rm _temp/** -r --cached (--dry-run)


